In [54]:
from datetime import datetime, timedelta
import time
from collections import namedtuple
import pandas as pd
import requests
import matplotlib.pyplot as plt
import numpy as np

In [55]:
# The path to our CSV file
atl_hurricanes = "atlantic.csv"


# Read our hurricane data into pandas
atl_hurricanes_df = pd.read_csv(atl_hurricanes)
atl_hurricanes_df.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [56]:
atl_hurricanes_df.sort_values(by=['Date'], inplace=True, ascending=True)
atl_hurricanes_df.drop(atl_hurricanes_df[atl_hurricanes_df['Date'] < 19500101].index, inplace = True)
atl_hurricanes_df.drop(atl_hurricanes_df[atl_hurricanes_df['Name'] == "UNNAMED"].index, inplace = True)
atl_hurricanes_df.drop(atl_hurricanes_df[atl_hurricanes_df['Status'] == "TS"].index, inplace = True)
atl_hurricanes_df.drop(atl_hurricanes_df[atl_hurricanes_df['Status'] == "TD"].index, inplace = True)
atl_hurricanes_df.drop(atl_hurricanes_df[atl_hurricanes_df['Maximum Wind'] < 75].index, inplace = True)
del atl_hurricanes_df['ID']
del atl_hurricanes_df['Event']
del atl_hurricanes_df['Minimum Pressure']
del atl_hurricanes_df['Low Wind NE']
del atl_hurricanes_df['Low Wind SE']
del atl_hurricanes_df['Low Wind SW']
del atl_hurricanes_df['Low Wind NW']
del atl_hurricanes_df['Moderate Wind NE']
del atl_hurricanes_df['Moderate Wind SE']
del atl_hurricanes_df['Moderate Wind NW']
del atl_hurricanes_df['High Wind NE']
#del atl_hurricanes_df['Moderate Wind SW ']
del atl_hurricanes_df['High Wind SW']
del atl_hurricanes_df['High Wind NW']
del atl_hurricanes_df['High Wind SE']

atl_hurricanes_df.head(100)

,Name,Date,Time,Status,Latitude,Longitude,Maximum Wind,Moderate Wind SW
21894,ABLE,19500815,1800,HU,25.5N,67.5W,75,-999
21895,ABLE,19500816,0,HU,25.7N,68.1W,80,-999
21896,ABLE,19500816,600,HU,25.7N,68.7W,80,-999
21897,ABLE,19500816,1200,HU,25.5N,69.3W,80,-999
21898,ABLE,19500816,1800,HU,25.4N,69.8W,85,-999
...,...,...,...,...,...,...,...,...
22146,EASY,19500905,1800,HU,29.1N,82.8W,105,-999
22145,EASY,19500905,1700,HU,29.1N,82.8W,105,-999
22142,EASY,19500905,0,HU,28.1N,83.7W,95,-999
22149,EASY,19500906,600,HU,28.4N,82.6W,75,-999
22148,EASY,19500906,400,HU,28.5N,82.7W,90,-999

In [58]:
atl_hurricanes_df.to_csv(r'C:\Users\clady\Desktop\Group_Project_3-master\Group_Project_3-master\cleaned_costly_hurricanes.csv', index = False)